* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.popover {
    max-width: 550px;
}

.app {
    padding: 20px;
}

.text-blue {
    color: rgb(0, 97, 171);
}

.text-gray {
    color: #666;
}

/*HEADER*/
.label-cost-perc {
    font-size: 10px;
    padding: 3px;
    display: inline-block;
    color: #FFF;
    border-radius: 3px;
}

.label-health {
    display: inline-block;
    padding: 3px;
    color: #FFF;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 10px;
}


.header-first-column-label {
    width: 100px;
    display: inline-block;
}

.header-first-column-value {
    width: calc(100% - 115px);
    display: inline-block;
}

.header-second-column-label {
    width: 160px;
    display: inline-block;
}

.header-second-column-value {
    width: calc(100% - 175px);
    display: inline-block;
}

.header-last-column-label {
    width: 140px;
    display: inline-block;
}

.header-last-column-value {
    width: calc(100% - 155px);
    display: inline-block;
}

/*GRID*/
.text-perc {
    color: #8e8e8e;
}

.label-cpm {
    width: 45px;
    padding: 3px;
    text-align: center;
    background: #CDDDF0;
    border-radius: 3px;
    font-size: 10px;
}

.label-spot {
    padding: 2px 2px;
    width: 35px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
}

.flex-container-1 {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px !important;
    height: 24px;
    position: relative;
}

.flex-container-1 > span {
    display: inline-block;
}

.editable-cell {
    border: 1px solid transparent;
    -webkit-transition: border-color .25s linear; /* Saf3.2+, Chrome */
    -moz-transition: border-color .25s linear; /* FF3.7+ */
    -o-transition: border-color .25s linear; /* Opera 10.5 */
    transition: border-color .25s linear;
}

.editable-cell:hover {
    border-color: #7676F5;
}

.editable-cell:focus {
    border-color: blue;
}

.edit-input {
    width: 100% !important;
    display: none;
}

input.edit-input {
    border: 0;
    height: 23px;
}

.edit-cpm-input {
    padding-left: 17px !important;
}

.edit-spot-input {
    padding-left: 10px !important;
}

/*IMS HANDLE*/
.flex-container-1.is-editing {
    padding: 0 !important;
}

.is-editing > div:not(.edit-input):not(.error-input):not(.label-spot):not(.wrap-spot){
    display: none;
}

.is-editing > .edit-input {
    display: block;
}

.is-editing > .wrap-spot {
    position: absolute;
    right: 10px;
    top: 3px;
}

.is-editing {
    border: 1px solid blue !important;
}

.is-editing.has-error {
    border-color: red !important;
}

.ims-cell:not(.is-loading) > .text-loading {
    display: none;
}

.is-loading > .ims-content {
    display: none;
}

.dollar-text {
    display: none !important;
    position: absolute;
    left: 10px;
    top: 5px;
}

.is-editing > .dollar-text {
    display: inline-block !important;
}

.is-editing > div.label-cpm {
    display: inline-block !important;
    position: absolute;
    top: 4px;
    right: 10px;
}


.is-editing > div.label-spot {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 10px;
}


.header-title {
    padding-bottom: 2px;
    border-bottom: 2px solid #e8e8e8;
    width: 100%;
    display: inline-block;
}

.text-loading {
    width: 30px;
    display: inline-block;
    background: #ddd;
    padding: 2px 5px;
}

.text-loading > span {
    width: 100%;
    height: 6px;
    display: inline-block;
    background: #999;
    margin-bottom: 1px;
}

.cell-focused {
    border: 1px solid blue;
}

.is-editing > .error-input {
    display: inline-block;
}

.error-input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
}

.blue-circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: blue;
    top: 5px;
    left: 5px;
}


/* MODAL */
.modal-title {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
}

.proposal-title {
}

.network-title {
    color: #2F6CB4;
    margin-left: 10px;
}

.flight-title {
    margin-left: 10px;
    font-weight: 200;
    color: #333;
}

/* SPOTS Net (won/inventory) label tags */

.spots-net {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    /*padding: 2px 3px 2px 3px;*/
    line-height: 14px;
    height: 16px;
}

.spots-net > * {
    display: inline-block;
}

.spots-net.inventory {
    border-radius: 0px 3px 3px 0px;
    border-left:none;
    min-width: 25px;
    background: #FFF;
} 
        
.spots-net.won {
    border-radius: 3px 0px 0px 3px;
    min-width: 37px;
    border-right:none;
    color: #FFF;
}     

.spots-net.won.danger {
    background-color: #e04139;
    border-color: #e04139;
} 
.spots-net.inventory.danger {
    color: #970d06;
    border-color: #e04139;
} 
        
.spots-net.won.warning {
    background-color: #f68d1c;
    border-color: #f68d1c;
} 
.spots-net.inventory.warning {
    color: #954d00;
    border-color: #f68d1c;
}
.spots-net.won.none {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}     
.spots-net.inventory.none {
    color: #c0c0c0;
    border-color: #c0c0c0;
}     

.spots-net.won.success {
    background-color: #6ba877;
    border-color: #6ba877;
} 
.spots-net.inventory.success {
    color: #24522d;
    border-color: #6ba877;
}



.btn-xxs {
    padding: 1px 3px;
    font-size: 10px;
    line-height: 1.3;
    border-radius: 3px;
}

/* MARGINS */

.mt\+ {
    margin-top: 8px;
}

.mt\+\+ {
    margin-top: 16px;
}

.mt\+\+\+ {
    margin-top: 24px;
}

.mt\+\+\+\+ {
    margin-top: 32px;
}

.mb\+ {
    margin-bottom: 8px;
}

.mb\+\+ {
    margin-bottom: 16px;
}

.mb\+\+\+ {
    margin-bottom: 24px;
}

.mb\+\+\+\+ {
    margin-bottom: 32px;
}

.ml\+ {
    margin-left: 8px;
}

.ml\+\+ {
    margin-left: 16px;
}

.ml\+\+\+ {
    margin-left: 24px;
}

.ml\+\+\+\+ {
    margin-left: 32px;
}


.mr\+ {
    margin-right: 8px;
}

.mr\+\+ {
    margin-right: 16px;
}

.mr\+\+\+ {
    margin-right: 24px;
}

.mr\+\+\+\+ {
    margin-right: 32px;
}


/* PADDINGS */

.pt\+ {
    padding-top: 8px;
}

.pt\+\+ {
    padding-top: 16px;
}

.pt\+\+\+ {
    padding-top: 24px;
}

.pt\+\+\+\+ {
    padding-top: 32px;
}

.pb\+ {
    padding-bottom: 8px;
}

.pb\+\+ {
    padding-bottom: 16px;
}

.pb\+\+\+ {
    padding-bottom: 24px;
}

.pb\+\+\+\+ {
    padding-bottom: 32px;
}

.pl\+ {
    padding-left: 8px;
}

.pl\+\+ {
    padding-left: 16px;
}

.pl\+\+\+ {
    padding-left: 24px;
}

.pl\+\+\+\+ {
    padding-left: 32px;
}

.pr\+ {
    padding-right: 8px;
}

.pr\+\+ {
    padding-right: 16px;
}

.pr\+\+\+ {
    padding-right: 24px;
}

.pr\+\+\+\+ {
    padding-right: 32px;
}

.p\+ {
    padding: 8px;
}

.p\+\+ {
    padding: 16px;
}

.p\+\+\+ {
    padding: 24px;
}

.p\+\+\+\+ {
    padding: 32px;
}

.ph\+ {
    padding: 0 8px;
}

.ph\+\+ {
    padding: 0 16px;
}

.ph\+\+\+ {
    padding: 0 24px;
}

.ph\+\+\+\+ {
    padding: 0 32px;
}





/* Loading Stuff */
@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background > span, .IMSPlaceholder {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #a4a3a3;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #bfbfbf), color-stop(18%, #a4a3a3), color-stop(33%, #bfbfbf));
    background: -webkit-linear-gradient(left, #bfbfbf 8%, #a4a3a3 18%, #bfbfbf 33%);
    background: linear-gradient(to right, #bfbfbf 8%, #a4a3a3 18%, #bfbfbf 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    position: relative;
}