<div class="modal fade" id="manage_ratings_books_modal">
    <div class="modal-dialog modal-xlg" id="manage_ratings_books_modal_view">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title">Manage Ratings Books</div>
            </div>
            <div class="modal-body modal-body-lg">
                <div class="header-row row">
                    <div class="col-xs-4">
                        <button class="btn btn-success btn-xs" id="manage_ratings_books_add_book_btn" role="button">Add Book</button>
                    </div>
                </div>

                <div id="ratings_books_grid" style="height: 400px;"></div>
            </div>

            <div class="modal-footer" style="padding-top: 4px;">
                <button class="btn btn-success" role="button" id="manage_ratings_books_save_btn">Save</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

