<!-- SCRUB VERIFY LEAD IN -->
<div class="modal fade" tabindex="-1" role="dialog" id="scrub_verify_lead_in">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Verify lead in</h4>
            </div>

            <div class="modal-body">
                <div class="row line">
                    <div class="col-md-6 to-map-column">
                        <div class="row mapping-title">
                            <strong>BVS Program Name</strong>
                        </div>

                        <div class="row">
                            <span data-bind="text: MappedItem() !== undefined ? MappedItem().Program : ''"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row mapping-title">
                            <strong>Contracted Program Name</strong>
                        </div>

                        <div class="row mapping-value">
                            <span data-bind="text: SelectedNextContractedTimeslot() ? SelectedNextContractedTimeslot().DisplayName : ''"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-bind="click: setOutOfSpec">Out of Spec</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-bind="click: verifySpot">Verify Spot</button>
            </div>
        </div>
    </div>
</div>
