<!-- SCRUB PROGRAM -->
<div class="modal fade" tabindex="-1" role="dialog" id="scrub_mapping_program_modal_confirmation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm Program Mapping</h4>
            </div>

            <div class="modal-body">
                <div class="row line">
                    <div class="col-md-6 to-map-column">
                        <div class="row mapping-title">
                            <strong>Detected Program Name</strong>
                        </div>

                        <div class="row">
                            <span data-bind="text: MappedItem() !== undefined ? MappedItem().Program : ''"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row mapping-title">
                            <strong>Contracted Program Name</strong>
                        </div>

                        <div class="row mapping-value" data-bind="if: !SingleProgramMapping()">
                            <span data-bind="text: SelectedProgram() != undefined ? SelectedProgram().DisplayName : ''"></span>
                        </div>

                        <div class="row mapping-value" data-bind="if: SingleProgramMapping">
                            <span data-bind="text: MappedItem().SchedulePrograms[0].DisplayName"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="col-md-12">
                        <input type="checkbox" data-bind="checked: ProgramMappingConfirmed" />
                        <small>I understand that this action cannot be undone and will be used to map all future detected files.</small>
                    </p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-bind="click: backToMappingProgram">< Back</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-bind="css: { disabled: !ProgramMappingConfirmed() }, click: confirmMapping ">Map Program</button>
            </div>
        </div>
    </div>
</div>
