<div class="modal fade" id="bvs_file_listing_modal">
    <div class="modal-dialog modal-xlg" id="bvs_file_listing_modal_view">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-title">BVS Files</div>
            </div>
            <div class="modal-body modal-body-lg">
                <div class="header-row row" style="margin-top: 10px;">
                    <div class="col-xs-10">
                    </div>

                    <div class="col-xs-2">
                        <div class="input-group input-group-sm pull-right" style="width: 100%;">
                            <span class="input-group-btn">
                                <button id="bvsfiles_grid_search_btn" style="" class="btn btn-info" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>

                            <input type="text" id="bvsfiles_grid_search_input" class="form-control" placeholder="Filter...">

                            <span class="input-group-btn">
                                <button style="display:none;" class="btn btn-default" id="bvsfiles_grid_search_clear_btn" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bvs_files_grid" style="height: 400px;"></div>
            <div class="modal-footer" style="padding-top: 4px;">
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>