<!-- Broadcast Tracker Main Page -->

<div class="overlay">
    <div class="center">
        <i class="fa fa-cloud-upload upload-cloud" aria-hidden="true"></i>
        <p>Drop .scx or Excel files here to upload</p>
    </div>
</div>

<div id="schedule_view" style="margin-top: 10px">
    <!-- HEADER/MENU -->
    <div class="row" style="margin-bottom: 8px;">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h4 style="text-align: center;" class="cadent-dk-blue"><strong>Tracker Pre Posting</strong></h4>
        </div>
        <div class="col-md-4" style="margin-top: 6px; text-align: right;">
            <!-- MENU -->
            <div class="btn-group" style="margin-left:4px;">
                <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right trackerDropMenu">
                    <li><a id="tracker_mappings_btn">Mappings</a></li>
                    <li><a id="tracker_ratings_books_btn">Ratings Books</a></li>
                    <li><a id="bvs_files_btn">Detection Files</a></li>
                </ul>
            </div>
            @*<button class="btn btn-success btn-xs" id="tracker_mappings_btn">Mappings</button>*@
        </div>
    </div>


    <div class="header-row row">
        <div class="col-xs-4" style="margin-top: 6px;">
            <input type="file" class="inputfile" id="uploadButton" multiple/><label class="btn btn-success btn-xs" for="uploadButton">Upload</label>
            @*<button class="btn btn-success btn-xs" id="ftpUploadButton" role="button">FTP Upload</button>*@
            <button class="btn btn-success btn-xs" id="tracker_add_adverisers_btn" role="button">Add Schedule</button>
        </div>

        <div class="col-xs-6">
            <div class="form-inline" style="text-align: right;">
                <label for="quarter_filter_input">Quarter</label>
                <select id="quarter_filter_input" style="margin-right: 8px; width:100px;" class="form-control input-sm "><option>Quarter</option></select>
                <label for="advertiser_filter_input">Advertiser</label>
                    <select style="width:180px;" class="form-control input-sm" id="aabadvertiser_filter_input"><option>Advertiser</option></select>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="input-group input-group-sm pull-right" style="width: 100%;">
                <span class="input-group-btn">
                    <button id="schedule_search_btn" style="" class="btn btn-info" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
                <input type="text" id="schedule_search_filter_input" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button style="display:none;" class="btn btn-default" id="schedule_search_clear_btn" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div id="schedule_grid" style="height: 600px;">
    </div>

    @*<div class="modal fade" id="ftpResultModel" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-med-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title cadent-blue"><strong id="reallocator_title">FTP Import Complete</strong></h4>
                    </div>
                    <div class="modal-body modal-body-lg">

                        <div id="ftpmsg" style="padding-right: 0px; padding-bottom: 0px; padding-top: 0px;height:100%;width:100%; font: 16px/26px;overflow:auto;"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->*@
</div>

@Html.Partial("_ManageMappingsModal")
@Html.Partial("_ManageRatingsBooksModal")
