<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SMS Settings-->
  <add key="SMS_Port" value="9999" />
  <add key="SMS_Host" value="devvmqa2.dev.crossmw.com" />
  <add key="SMS_Name" value="SMS" />

  <!--Environment setting DEV, QA, PROP, PROD, LOCAL-->
  <add key="TAMEnvironment" value="DEV" />
<add key="DisableSecurity" value="true" />
  <!--EF setting-->
  <add key="EntityFrameworkCommandTimeoutInSeconds" value="1200" />

  <!--Run the service as console or windows service. Option : Console & Windows Service = 1, Console = 2, Windows Service = 3 -->
  <add key="HostServiceRunMode" value="1" />

  <!--System composer. MultipleLogosImageFilename - the filename in the dbo.images table -->
  <add key="MultipleLogosImageFilename" value="multiple_logos.bmp"/>

  <!-- Account composer , Accounting service-->
  <add key="Discount" value="0.15" />

  <!--Release2 service , Release composer-->
  <add key="GetStatusTimeout" value="60" />

  <!--Proposal composer MaestroToSalesforce-->
  <add key="DefaultSalesmanId" value="37" />
  <!--Proposal composer MaestroToSalesforce-->
  <add key="Division" value="CADENT NETWORK" />


  <!--System parameter. Set to true to skip cache and directly load from database-->
  <add key="SkipSystemParameterCache" value="False" />
  <!--System parameter. Set to true to show Clear Cache button in system parameter view-->
  <add key="ShowClearCacheFeatureInSystemParameterView" value ="True"/>
</appSettings>