@import "node_modules/animatewithsass/_fading-entrances/fadeInUp";

@mixin make_card_container_base {
  padding: 0 0 0 20px;
  overflow: auto;
  position: relative;
}

@mixin make_card_container_select {
  padding: 20px 0 0 20px;
  text-align: center;
}

@mixin make_card_box_outer {
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid $color-grayscale-1;
  border-radius: 3px;
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  width: calc(100% - 20px);
  @include transition_all;

  $d: 0;
  @for $i from 1 through 100 {
    $d: $d + 0.025s;
    &:nth-child(#{$i}) {
      @include fadeInUp($delay: $d, $duration: 0.5s);
    }
  }

  &.respond {
    @include breakpoint(sm) {
      max-width: calc((100% / 1) - 20px);
      min-width: calc((100% / 1) - 20px);
      width: calc((100% / 1) - 20px);
      justify-content: space-between;
      vertical-align: top;
    }

    @include breakpoint(md) {
      max-width: calc((100% / 2) - 20px);
      min-width: calc((100% / 2) - 20px);
      width: calc((100% / 2) - 20px);
      justify-content: space-between;
      vertical-align: top;
    }

    @include breakpoint(lg) {
      max-width: calc((100% / 3) - 20px);
      min-width: calc((100% / 3) - 20px);
      width: calc((100% / 3) - 20px);
      justify-content: space-between;
      vertical-align: top;
    }

    @include breakpoint(xl) {
      max-width: calc((100% / 4) - 20px);
      min-width: calc((100% / 4) - 20px);
      width: calc((100% / 4) - 20px);
      justify-content: space-between;
      vertical-align: top;
    }

    @include breakpoint(xxl) {
      max-width: calc((100% / 5) - 20px);
      min-width: calc((100% / 5) - 20px);
      width: calc((100% / 5) - 20px);
      justify-content: space-between;
      vertical-align: top;
    }
  }

  &.two-across {
    max-width: calc((100% / 2) - 20px);
    min-width: calc((100% / 2) - 20px);
    width: calc((100% / 2) - 20px);
    justify-content: space-between;
    vertical-align: top;
  }

  &.three-across {
    max-width: calc((100% / 3) - 20px);
    min-width: calc((100% / 3) - 20px);
    width: calc((100% / 3) - 20px);
    justify-content: space-between;
    vertical-align: top;
  }

  &.four-across {
    max-width: calc((100% / 4) - 20px);
    min-width: calc((100% / 4) - 20px);
    width: calc((100% / 4) - 20px);
    justify-content: space-between;
    vertical-align: top;
  }

  &.five-across {
    max-width: calc((100% / 5) - 20px);
    min-width: calc((100% / 5) - 20px);
    width: calc((100% / 5) - 20px);
    justify-content: space-between;
    vertical-align: top;
  }

  &.six-across {
    max-width: calc((100% / 6) - 20px);
    min-width: calc((100% / 6) - 20px);
    width: calc((100% / 6) - 20px);
    justify-content: space-between;
    vertical-align: top;
  }
}

@mixin make_card_box_inner {
  @include transition_boxshadow;
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
  background: $color-grayscale-0;

  &:hover,
  .active,
  &.active {
    @include transition_boxshadow;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.5);
  }
}

@mixin make_card_box_link {
  @include make_card_box_inner;
  text-decoration: none;

  & > * {
    text-decoration: none;
  }

  a {
    display: block;
  }
}

@mixin make_card_box_select {
  @include make_card_box_inner;

  &.active {
    @include transition_boxshadow;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.5);
  }

  input {
    display: none;

    & + span {
      position: absolute;
      display: block;
      top: 10px;
      right: 10px;
      z-index: 10;
    }
  }
}

@mixin make_card_info {
  @include font_machine($weight: "medium", $size: 12px, $line-height: 16px);
  padding: 0 15px 10px 15px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-align: left;
}

@mixin make_card_footer {
  @include font_machine("light", $color: $color-grayscale-2, $size: 12px);
  @include make_flex(row, space-between, center);
  padding: 0 10px 10px 10px;

  & > div {
    @include make_flex(row, flex-start, center);

    & > div {
      margin-right: 5px;
    }
  }
}

@mixin make_card_logo {
  @include make_flex(row, center, center);
  text-align: center;
  background: rgba($color-grayscale-1, 0.5);
  height: 240px;
  padding: 20px 20px 10px 20px;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
