// ************* Base Styles ************* \\
@mixin input_field_base {
  @include font_machine("light", $size: $input-general-font-size);
  @include transition_input_focus(0.15s, ease-out);
  position: relative;
  box-sizing: border-box;
  display: $input-general-display;
  border-radius: $input-general-border-radius;
  padding: $input-general-padding;
  width: $input-general-width;
  @content;
}

@mixin input_label_base {
  @include font_machine(
    $family: $font-family-book,
    $size: $input-label-font-size,
    $line-height: $input-label-line-height
  );
  display: inline-block;
  margin-bottom: $input-label-margin-bottom;
  text-align: left;
  @content;
}
@mixin input_error_base {
  & > * {
    @include font_machine("light", $size: $input-error-text-size);
    margin-top: 10px;
    @content;
  }
}
@mixin input_icon_base {
  @include make_flex(row, center, center);
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $input-general-height;
  width: $input-general-height;
  border-right: $input-general-border-stroke;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-top-left-radius: $input-general-border-radius;
  border-bottom-left-radius: $input-general-border-radius;
  z-index: 10;
  @content;
}
@mixin input_placeholder_base($color) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
  &.placeholder {
    color: $color;
  }
}
@mixin input_file_proxy {
  &::after {
    @content;
  }
}
@mixin input_typeahead_base {
  width: 100%;
  background: $color-grayscale-0;
  border-bottom-right-radius: $input-general-border-radius;
  border-bottom-left-radius: $input-general-border-radius;
  border: 1px solid $color-grayscale-2;
  position: absolute;
  top: calc(100% - 1px);
  background: rgba($color-grayscale-0, 0.97);
  z-index: 15;
  & > * {
    padding: $input-general-padding;
  }
}
// ************* Style Types ************* \\
@mixin input_field__default {
  @include input_field_base {
    background-color: $color-grayscale-0;
    border: 1px solid $color-grayscale-2;
    color: $color-grayscale-3;
  }
}
@mixin input_field__contrast {
  @include input_field_base {
    background-color: $color-contrast-1;
    border: 1px solid $color-contrast-0;
    color: $color-grayscale-0;
  }
}
@mixin input_label__default {
  @include input_label_base {
    color: $input-color-text;
    &.error,
    &.invalid {
      color: $color-invalid;
    }
  }
}
@mixin input_label__contrast {
  @include input_label_base {
    color: $color-contrast-active;
    &.error,
    &.invalid {
      color: make_color($color-invalid, 80);
    }
  }
}
@mixin input_error__default {
  @include input_error_base {
    color: $input-error-text-color;
  }
}
@mixin input_error__contrast {
  @include input_error_base {
    color: make_color($color-invalid, 60);
  }
}
@mixin input_icon__default {
  @include input_icon_base {
    border-color: $input-color-border;
    background: transparent;
    &.error {
      border-color: $color-invalid;
    }
  }
}
@mixin input_icon__contrast {
  @include input_icon_base {
    border-color: transparent;
    background: rgba($color-grayscale-0, 0.08);
    &.error {
      border-color: rgba($color-invalid, 0.3);
    }
  }
}
@mixin input_placeholder__default {
  @include input_placeholder_base($color-grayscale-1);
}
@mixin input_placeholder__contrast {
  @include input_placeholder_base($color-contrast-1);
}

@mixin input_invalid__default {
  &:invalid {
    background-color: $color-grayscale-0;
    border: $input-error-border;
    color: $color-invalid;
  }
}
@mixin input_invalid__contrast {
  &:invalid {
    @include input_placeholder_base(make_color($color-invalid, 80));
    background-color: rgba($color-invalid, 0.3);
    color: make_color($color-invalid, 40);
  }
}
@mixin input_valid__default {
  &:valid {
  }
}
@mixin input_valid__contrast {
  &:valid {
  }
}
@mixin input_disabled__default {
  &:disabled {
    background-color: $color-grayscale-1;
    color: $color-grayscale-2;
    @content;
  }
}
@mixin input_disabled__contrast {
  &:disabled {
    background-color: $color-contrast-5;
    color: $color-contrast-5;
    @content;
  }
}
@mixin input_readonly__default {
  &:read-only {
  }
}
@mixin input_readonly__contrast {
  &:read-only {
  }
}
// ************* Compositions ************* \\
@mixin input__default {
  @include input_field__default;
  @include input_placeholder__default;
  @include input_disabled__default;
  &.touched {
    @include input_invalid__default;
    @include input_valid__default;
    @include input_readonly__default;
  }
  & + .icon {
    @include input_icon__default;
  }
}
@mixin input__contrast {
  @include input_field__contrast;
  @include input_placeholder__contrast;
  @include input_disabled__contrast;
  &.touched {
    @include input_invalid__contrast;
    @include input_valid__contrast;
    @include input_readonly__contrast;
  }
  & + .icon {
    @include input_icon__contrast;
  }
}
@mixin input__icon {
  padding-left: 55px;
}
@mixin input__number {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@mixin input__select {
  height: 42px;
  -moz-appearance: none;
  -webkit-appearance: none;
  option {
    color: $color-grayscale-3;
  }
  &::-ms-expand {
    display: none;
  }
}
@mixin input__typeahead {
  @include input__icon;
  z-index: 1;
}
@mixin input__textarea {
  min-height: 110px;
  max-width: 100%;
  & + .count {
    display: block;
    color: $color-grayscale-2;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
  }
}
@mixin input__file() {
  width: 100%;
  height: $input-general-height;
  overflow: hidden;
  @include input_file_proxy {
    content: attr(dataname);
    top: -18px;
    @content;
  }
}
// ************* Spcific Kinds ************* \\
@mixin input_text__default {
  @include input__default;
}
@mixin input_text__contrast {
  @include input__contrast;
}
@mixin input_textarea__default {
  @include input__default;
  @include input__textarea;
}
@mixin input_textarea__contrast {
  @include input__contrast;
  @include input__textarea;
}
@mixin input_password__default {
  @include input__default;
  @include input__icon;
}
@mixin input_password__contrast {
  @include input__contrast;
  @include input__icon;
}
@mixin input_search__default {
  @include input__default;
  @include input__icon;
}
@mixin input_search__contrast {
  @include input__contrast;
  @include input__icon;
}
@mixin input_email__default {
  @include input__default;
  @include input__icon;
}
@mixin input_email__contrast {
  @include input__contrast;
  @include input__icon;
}
@mixin input_url__default {
  @include input__default;
  @include input__icon;
}
@mixin input_url__contrast {
  @include input__contrast;
  @include input__icon;
}
@mixin input_calendar__default {
  @include input__default;
  @include input__icon;
}
@mixin input_calendar__contrast {
  @include input__contrast;
  @include input__icon;
}
@mixin input_number__default {
  @include input__default;
  @include input__number;
  @include input__icon;
}
@mixin input_number__contrast {
  @include input__contrast;
  @include input__number;
  @include input__icon;
}
@mixin input_percent__default {
  @include input__default;
  @include input__number;
  @include input__icon;
}
@mixin input_percent__contrast {
  @include input__contrast;
  @include input__number;
  @include input__icon;
}
@mixin input_money__default {
  @include input__default;
  @include input__number;
  @include input__icon;
}
@mixin input_money__contrast {
  @include input__contrast;
  @include input__number;
  @include input__icon;
}
@mixin input_select__default {
  @include input__default;
  @include input__select;
  @include input__icon;
}
@mixin input_select__contrast {
  @include input__contrast;
  @include input__select;
  @include input__icon;
}
@mixin input_typeahead__default {
  @include input__default;
  @include input__typeahead;
}
@mixin input_typeahead__contrast {
  @include input__contrast;
  @include input__typeahead;
}
@mixin input_typeaheadcontainer__default {
  @include input_typeahead_base;
}
@mixin input_typeaheadcontainer__contrast {
  // @TODO
}

@mixin input_typeaheaditem__default {
  @include input_field_base {
    position: relative;
    border-radius: 0px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background: $color-primary-1;
      transition: width 0.15s ease-in-out;
    }
  }
  &.active {
    color: $color-primary-1;
    background: rgba($color-primary-4, 0.5);
    &::after {
      width: 3px;
    }
  }
  &.selected {
    color: $color-grayscale-4;
    background: rgba($color-grayscale-1, 0.5);
    font-weight: bold;
  }
}
@mixin input_typeaheaditem__contrast {
  // @TODO
}
@mixin input_file__default {
  @include input__file {
    @include input__default;
    @include input__icon;
    z-index: 10;
  }
  @include input_disabled__default {
    @include input_file_proxy {
      background-color: $color-grayscale-1;
      color: $color-grayscale-2;
    }
  }
  &.placeholder {
    @include input_file_proxy {
      color: $color-grayscale-1;
    }
  }
  & + .icon {
    @include input_icon__default;
    top: 0px;
    z-index: 10;
  }
}
@mixin input_file__contrast {
  @include input__file {
    @include input__contrast;
    @include input__icon;
    z-index: 10;
  }
  @include input_disabled__contrast {
    @include input_file_proxy {
      background-color: $color-contrast-5;
      color: $color-contrast-5;
    }
  }
  & + .icon {
    @include input_icon__contrast;
    top: 0px;
    z-index: 10;
  }
}
