{
  "presets": [
    ["env", { 
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions",
          "ios_saf >= 8",
          "ie >= 10"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals"
  ],
  "env": {
    "development": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        ["latest"]
      ]
    }
  }
}