{
  "presets": [
    ["env",
      { 
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ios_saf >= 8",
            "ie >= 10",
            "Explorer 11",
            "last 4 Edge versions"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "add-module-exports",
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals",
  ],
  "env": {
    "development": {
      "plugins": ["istanbul"]
    },
    "production": {
      "presets": [
        ["latest"]
      ]
    }
  }
}
