@import "src/styles/mixins/index";
@import "node_modules/animatewithsass/_fading-entrances/fadeInUp";

.card {
  &-container {
    @include make_card_box_outer;

    .card {
      @include make_card_box_link;
    }
  }

  &-logo {
    @include make_card_logo;
  }

  &-info {
    @include make_card_info;

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0;

      .card-info-title {
        @include font_machine(
          $weight: bold,
          $family: $font-family-regular,
          $size: $h6,
          $color: $color-grayscale-4
        );
      }

      .card-info-daypart {
        @include font_machine(
          $weight: bold,
          $family: $font-family-regular,
          $size: $h6,
          $color: $color-grayscale-2
        );
      }
    }
  }

  &-footer {
    @include make_card_footer;
  }

  &-sub-menu {
    background-color: $color-contrast-0;
    border-color: $color-contrast-0;
    padding: 0;
    width: 30px;
    height: 25px;
    outline: none;
  }
}
