<div id="manage_ratings">
    <!-- MANAGE RATINGS MODAL -->
    <div class="modal fade" tabindex="false" id="manage_ratings_modal" role="dialog" data-bind="modal: { show: showRatingsModal, open: open }">
        <div class="modal-dialog modal-med" role="document">
            <div class="modal-content" id="manage_ratings_view">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">Manage Ratings</span>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Share Book</label>
                            <div class="col-sm-9">
                                <select class="form-control" data-bind="options: shareBooksOptions, optionsValue: 'Id', optionsText: 'Display', value: selectedShareBook, select2: true"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Hut Book</label>
                            <div class="col-sm-9">
                                <select class="form-control" data-bind="options: hutBookOptions, optionsValue: 'Id', optionsText: 'Display', value: selectedHutBook, select2: true"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Playback Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" data-bind="options: playbackTypeOptions, optionsValue: 'Id', optionsText: 'Display', value: selectedPlaybackType, select2: true"></select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-bind="css: { disabled: !canSave() }, click: openConfirmation">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CONFIRMATION MODAL -->
    <div class="modal fade" tabindex="false" id="confirm_manage_ratings_modal" role="dialog" data-bind="modal: { show: showConfirmationModal }">
        <div class="modal-dialog modal-med" role="document">
            <div class="modal-content" id="confirm_manage_ratings_view">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">Are you sure?</span>
                </div>

                <div class="modal-body">
                    Your changes may impact the programs in your current proposal. Are you sure you would like to proceed?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-bind="css: { disabled: !canSave() }, click: save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

