
<div class="modal fade" tabindex="false" id="switch_proposal_version_modal" role="dialog" data-bind="modal: { show: show }">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Switch Proposal Version</h4>
            </div>

            <div class="modal-body">
                <div id="switch_proposal_version_grid"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click: cancel">Cancel</button>
                <button id="open_btn" type="button" class="btn btn-success">Open</button>
            </div>
        </div>
    </div>
</div>
