@import './styles/index';

@import './styles/imports/index.css';

.has-error .Select-control {
	border-color: #a94442;
}

.has-error .is-focused:not(.is-open) > .Select-control {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(255, 51, 0, 0.1);
}

.Select-menu-outer {
  z-index: 999 !important;
}

.Select.is-disabled>.Select-control {
  cursor: not-allowed;
  background-color: #eee;
}

textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 10000px white inset;
    -moz-box-shadow: 0 0 0 10000px white inset;
    -ms-box-shadow: 0 0 0 10000px white inset;
}
