<!-- Modal Default Error-->
<div id="default_error_modal" style="z-index: 2000;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="defaultErrorModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title cadent-blue" id="myModalLabel"><strong>Error Encountered</strong><a class="anchorjs-link" href="#defaultErrorModalLabel"><span class="anchorjs-icon"></span></a></h4>
            </div>
            <div class="modal-body">
                <h4 id="default_error_text" class="zone-red-bold">An error was encountered Processing the Request</h4>
                <div id="default_error_message" style="word-wrap: break-word;">
                    The server encountered an error processing the request.  Please try again or contact your administrator to review error logs.
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" data-dismiss="modal">OK</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>