<!-- Modal Default Error-->
<div id="default_success_modal" style="z-index: 2000;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="defaultErrorModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title cadent-blue" id="myModalLabel"><strong>Message</strong></h4>
            </div>

            <div class="modal-body">
                <h4 id="default_message_text" class="zone-red-bold"></h4>
                <div id="default_message" style="word-wrap: break-word;">
                </div>
            </div>

            <div class="modal-footer">
                <a type="button" class="btn btn-primary" data-dismiss="modal">OK</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>