@{
    ViewBag.Title = "Traffic";
}

@section styles{
    <link href="~/Styles/css/appTraffic.css" rel="stylesheet" />
}

<div id="traffic_view" class="view_container">
    <div class="row view_main_title">
        <h4 class="cadent-dk-blue"><strong>Traffic</strong></h4>
    </div>

    <div class="header-row row"> 
        <div class="form-inline pull-right grid_menu_container">
            <select class="form-control input-sm" id="advertiser_filter_input">
                <option>All</option>
                <option>Needs Attention</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div id="traffic_grid"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/traffic")

    <script>
        var pageController = new TrafficController();
        var appController = new AppController();

        $(document).ready(function () {
            appController.initControllerPage(pageController);
        });
    </script>
}
