
<div class="modal fade" id="import_thirdparty_modal" role="dialog" data-backdrop="static" data-bind="modal: { show: showModal, open: onOpenModal, hide: onHideModal}">
    <div class=" modal-dialog modal-xlg" id="import_thirdparty_modal_view">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title" data-bind="text: 'Upload ' +  RateSource() + ' File'"></span>
            </div>

            <div class="modal-body">
                <form id="import_thirdparty_form">
                    <div>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>File Name</label>
                                    <div data-bind="text: FileName" class=""></div>
                                </div>
                            </div>
                            
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Rating Book</label>
                                    <select class="form-control" data-bind="options: ratingBookOptions, optionsValue: 'Id', optionsText: 'Display', value: selectedRatingBook, select2: true"></select>
                                </div>
                            </div>
                            
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Playback Type</label>
                                    <select class="form-control" data-bind="options: playbackTypeOptions, optionsValue: 'Id', optionsText: 'Display', value: selectedPlaybackType, select2: true"></select>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                @*<div class="form-group">
                                    <label>Flight</label>
                                    <input type="text" class="form-control read-only-picker" readonly style="width: 100%;" name="import_thirdparty_flights" data-bind="flightWeekPicker: { startDate: FlightStartDate, endDate: FlightEndDate, weekSelection: FlightWeeks, noMinimum: true }" required>
                                </div>*@
                                <div class="form-group">
                                    <label>Effective Date</label>
                                    <input type="text" class="form-control input-sm read-only-picker" readonly style="width: 100%;" name="import_thirdparty_effective_date" id="import_thirdparty_effective_date" required>
                                </div>
                            </div>
                            
                            <div class="col-xs-4">
                                @*<div class="form-group">
                                    <label>Block Name</label>
                                    <input type="text" class="form-control" style="width: 100%;" name="import_thirdparty_blockname" data-bind="value: BlockName" required>
                                </div>*@
                                <table id="thirdparty_demo_table" class="table table-condensed" style="margin: -5px 0 0 0;">
                                    <thead>
                                        <tr> <th style="width: 45%;">Pricing</th> <th style="width: 45%;"></th> <th style="width: 10%;"></th> </tr>
                                    </thead>
                                    <tbody data-bind="foreach: demos">
                                        <tr data-bind="if: $parent.allowDemoFixed() && ($index() === 0)">
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control" data-bind="options: $parent.demoWithFixedOptions, optionsValue: 'Id', optionsText: 'Display', uniqueName: true, optionsCaption: 'Select Demo...', value: selectedDemo, select2: {placeholder: 'Select Demo...', validate: true}" required></select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-sm" placeholder="$" data-bind="value: formattedPrice, uniqueName: true" required>
                                                </div>
                                            </td>
                                            <td style="padding: 6px 0 0 0; text-align: center; min-width: 25px;"><button type="button" class="btn btn-link" style="padding: 0 0 0 0;" data-bind="click: $parent.removeDemo, visible: canDelete()"><span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span></button></td>
                                        </tr>
                                        <tr data-bind="if: !$parent.allowDemoFixed() || ($index() > 0)">
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control input-sm" data-bind="options: $parent.demoOptions, optionsValue: 'Id', optionsText: 'Display', uniqueName: true, optionsCaption: 'Select Demo...', value: selectedDemo, attr: { required: active }, select2: {placeholder: 'Select Demo...', validate: true}" required></select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-sm" placeholder="$" data-bind="visible: active, value: formattedPrice, uniqueName: true, attr: { required: active }" required>
                                                </div>
                                            </td>
                                            <td style="padding: 6px 0 0 0; text-align: center;"><button type="button" class="btn btn-link" style="padding: 0 0 0 0;" data-bind="click: $parent.removeDemo, visible: canDelete() && active()"><span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*<button type="button" class="btn btn-link" style="padding: 0 0 0 4px;" data-bind="click: addDemo, visible: !isDemoFixed()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" data-bind="click: uploadFile">Upload File</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->