<div class="modal fade" id="stationModal">
    <div class="modal-dialog modal-xlg" id="station_modal_view">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @*<div class="modal-title" data-bind="html: StationTitle">Station Title</div>*@
                <div class="modal-title"><span data-bind="text: StationName"></span><span class="small" data-bind="text: ' - ' + Affiliate()"></span><span class="small text-primary" data-bind="text: ' - ' +  Market()"></span></div>

            </div>

            <div class="modal-body modal-body-lg">

                @*//station detail tabs*@
                <ul id="station_tabs" class="nav nav-tabs">
                    <li class="active" role="presentation">
                        <a data-toggle="tab" name="rates" role="tab" href="#station_rates_view">Rate Card</a>
                    </li>
                    <li role="presentation">
                        <a data-toggle="tab" name="contacts" role="tab" href="#station_contacts_view">Contacts</a>
                    </li>
                </ul>
                <div class="tab-content">
                    @*//station rates view*@
                    <div id="station_rates_view" class="tab-pane fade in active">

                        <div class="header-row row" style="margin-top: 20px;">
                            <div class="col-xs-4" style="margin-top: 6px;">
                                <button id="rates_new_program_btn" class="btn btn-primary btn-xs" data-bind="attr: { 'disabled': isThirdParty() }">New Program</button>
                            </div>

                            <div class="col-xs-4"></div>

                            <div class="col col-xs-4" style="text-align: right;">
                                <select id="station_rates_quarter_filter">
                                    <option value="All" selected>All</option>
                                    <option value="Today">Today</option>
                                    <option value="LastQuarter">Last Quarter</option>
                                    <option value="ThisQuarter">Current Quarter</option>
                                    <option value="Custom">Custom</option>
                                </select>
                                <input type="text" id="station_rates_date_filter" name="daterange" value="" />
                            </div>
                        </div>
                        <div id="rates_grid" style="height: 450px"></div>
                    </div>
                    @*//station contacts view*@
                    <div id="station_contacts_view" class="tab-pane fade">

                        <div class="header-row row" style="margin-top: 20px;">

                            <div class="col-xs-5" style="margin-top: 6px;">
                                <button id="station_contacts_new_contact_btn" class="btn btn-primary btn-xs contacts_disabled_editing">New Contact</button>
                            </div>

                            <div class="col-xs-5"></div>

                            <div class="col-xs-2">
                                <div class="input-group input-group-sm pull-right" style="width: 100%;">
                                    <span class="input-group-btn">
                                        <button id="station_contacts_search_btn" style="" class="btn btn-info contacts_disabled_editing" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </span>
                                    <input type="text" id="station_contacts_search_input" class="form-control contacts_disabled_editing" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button style="display:none;" class="btn btn-default contacts_disabled_editing" id="station_contacts_search_clear_btn" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="contacts_grid" style="height: 450px;"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="padding-top: 4px;">
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
                @*<button class="btn btn-success" data-bind="click: updateStation, attr: { 'disabled': !hasChanges() }">Save</button>
                <button class="btn btn-success">Save</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->