<div class="modal fade" tabindex="-1" role="dialog" id="station_end_flight_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="end_flight_form" action="#">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">End Program Flight</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <label>Program Name</label>
                            <div class="form-group">
                                <input id="end_flight_program_name_input" type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Flight End Date</label>
                                <input id="end_flight_date_input" name="end_flight_date_input" type="text" class="form-control read-only-picker">
                            </div>
                            <div class="help-block">End date will be set to Sunday of each week</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="end_flight_save_btn" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>