
@{
    ViewBag.Title = "Rate Cards";
}

@section styles{
    <link href="~/Scripts/library/daypart-dropdown/daypart-dropdown.css" rel="stylesheet" />
}

<!-- Broadcast Rate Main Page -->

<div class="overlay">
    <div class="center">
        <i class="fa fa-cloud-upload upload-cloud" aria-hidden="true"></i>
        <p>Drop .xml files here to upload</p>
    </div>
</div>

<div id="rate_view" style="margin-top: 10px">
    <h4 style="text-align: center;" class="cadent-dk-blue"><strong>Rate Management</strong></h4>
    @*//station detail tabs*@
    <ul id="rates_tabs" class="nav nav-tabs">
        <li class="active" role="presentation">
            <a data-toggle="tab" name="OpenMarket" role="tab" href="#rates_content">Open Market</a>
        </li>
        <li role="presentation">
            <a data-toggle="tab" name="Assembly" role="tab" href="#rates_content">Open Market Assembly</a>
        </li>
        <li role="presentation">
            <a data-toggle="tab" name="CNN" role="tab" href="#rates_content">CNN</a>
        </li>
        <li role="presentation">
            <a data-toggle="tab" name="TVB" role="tab" href="#rates_content">TVB</a>
        </li>
        <li role="presentation">
            <a data-toggle="tab" name="TTNW" role="tab" href="#rates_content">TTNW</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="rates_content" class="tab-pane fade in active" style="margin-top: 16px;">

            <div class="header-row row">
                <div class="col-xs-2" style="margin-top: 6px;">
                    <input type="file" class="inputfile" id="uploadButton" multiple><label class="btn btn-success btn-xs" for="uploadButton">Upload</label>
                </div>

                <div class="col-xs-8">
                    <div class="form-inline" style="text-align: right;">
                        @*<label for="stations_filter_input">Stations</label>*@
                        <select style="width:180px;" class="form-control input-sm" id="stations_filter_input">
                            <!-- TBD match to filter params - values -->
                            <option value="all">All Stations</option>
                            <option value="WithTodaysData">Stations with Data</option>
                            <option value="WithoutTodaysData">Stations without Data</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="input-group input-group-sm pull-right" style="width: 100%;">
                        <span class="input-group-btn">
                            <button id="stations_search_btn" style="" class="btn btn-info" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                        <input type="text" id="stations_search_input" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button style="display:none;" class="btn btn-default" id="stations_search_clear_btn" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <div id="stations_grid" style="height: 600px;">
            </div>
        </div>
    </div>
</div>
 <!-- TVB Import Modal -->
@Html.Partial("_ImportThirdPartyModal")
@RenderPage("StationModal.cshtml")



@section scripts{
    @Scripts.Render("~/bundles/rate")
    <script>
        var pageController = new RateMainController();
        var appController = new AppController();
        $(document).ready(function () {
            //initialize rate controller
            (function () {
                appController.initControllerPage(pageController);
            })();

        });
    </script>
}




