.daypart-picker {
  position: relative;
  display: inline;

  .daypicker-input {
    width: 240px;
  }
  

  .days-selectors {
    width: 100%;

    > ul {
      width: inherit;
    }
  }

  .daypart-picker-overlay {
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 60px;
    padding: 10px;
    z-index: 99;
    width: 510px;
    top: 25px !important;
  
    .days-selections-wrap {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 50px;
    
      > div:first-child {
        width: 75%;
      }
    
      > div:last-child {
        width: 25%;
      }
    
      > div {
        display: flex;
        flex-direction: column;
        height: inherit; 
        flex-wrap: wrap;
    
        .day-selection-item {
          display: flex;
          justify-content: space-between;
          text-align: center;
          padding: 0;
          min-height: 25px;

          > label {
            display: flex;
          }
    
          > input {
            margin-right: 2px;
          }
        }
      }
    }
  
    .days-selectors {
      padding: 10px 0;
      display: flex;
    }
  
    .time-pickers {
      padding: 10px 0;
      display: flex;
      margin-bottom: 15px;
    }
  
    .quick-options {
      .control-label {
        display: block;
        text-align: left;
      }

      .radio-inline{
        margin-right: 10px;
      }
    }
  
    .actions-toolbar {
      padding: 0;
  
      > hr {
        height: 1px;
        margin: 2px 0;
      }
  
      .btn-toolbar {
        display: flex;
        justify-content: flex-end;
      }
  
    }
  }
}
