@import "src/styles/mixins/index";

@mixin card_field_styles($color) {
  @include make_flex(row, flex-start, center);
  @include font_machine(
    $weight: regular,
    $family: $font-family-regular,
    $size: 14px,
    $color: $color
  );
}

.card-field {
  @include make_flex_col_center;
  min-height: 42px;

  .label {
    @include card_field_styles($color-grayscale-4);
  }

  .value {
    @include card_field_styles($color-grayscale-2);
  }
}
