/************************************************************************
    Index.cshtml
/************************************************************************/

#posting_view {
    margin-top: 10px;
}

    #posting_view h4 {
        text-align: center;
    }

#posting_grid {
    height: 600px;
}

#posting-upload-view {
    height: 50%;
}

#posting-delete-view {
    text-align: center;
}

#post_input_posting-error,
#post_input_playback-error,
#post_input_demos-error {
    color: #a94442;
}