html, body {
    height: 100%;
}

.webui-popover-custom {
    border-radius: 2px;
}

.daypart-dropdown-cotainer {
    max-height: 200px;
    overflow: auto;
}

.days-container {
    border-top: 1px solid #ddd;
    padding: 5px 0;
}

.day-element {
    padding: 0 10px;
    position: relative;
}

.custom-option-element {
    padding: 5px 10px;
    cursor: pointer;
}

.custom-option-element:hover {
    background: #ddd;
}

.daypart-left-container {
    width: 45%;
    display: inline-block;
    border-right: 1px solid #ccc;
}

.daypart-right-container {
    width: 55%;
    background: #f1f1f1;
    display: inline-block;
    padding: 0 2px;
    vertical-align: top;
}

.time-pickers-container {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    align-items: center;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
}

.time-pickers-container > input {
    width: 40%;
}