<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SMS Settings-->
  <add key="SMS_Port" value="9999" />
  <add key="SMS_Host" value="caws-prd-cd1.cadent.tv" />
  <add key="SMS_Name" value="SMS" />

  <!-- Configuration Client Settings -->
  <!-- This is unused TODO: Remove it once it's been removed as a pipeline variable.--> 
  <add key="ConfigurationServiceUri" value=""/>

  <!--Environment setting DEV, QA, PROP, PROD, LOCAL-->
  <add key="TAMEnvironment" value="DEV" />
  <add key="DisableSecurity" value="true" />
  <!--EF setting-->
  <add key="EntityFrameworkCommandTimeoutInSeconds" value="1200" />

  <!--Run the service as console or windows service. Option : Console & Windows Service = 1, Console = 2, Windows Service = 3 -->
  <add key="HostServiceRunMode" value="1" />

  <!--System composer. MultipleLogosImageFilename - the filename in the dbo.images table -->
  <add key="MultipleLogosImageFilename" value="multiple_logos.bmp"/>

  <!-- Account composer , Accounting service-->
  <add key="Discount" value="0.15" />

  <!--Release2 service , Release composer-->
  <add key="GetStatusTimeout" value="60" />

  <!--Proposal composer MaestroToSalesforce-->
  <add key="DefaultSalesmanId" value="37" />
  <!--Proposal composer MaestroToSalesforce-->
  <add key="Division" value="CADENT NETWORK" />

  <!--System parameter. Set to true to skip cache and directly load from database-->
  <add key="SkipSystemParameterCache" value="False" />
  <!--System parameter. Set to true to show Clear Cache button in system parameter view-->
  <add key="ShowClearCacheFeatureInSystemParameterView" value ="True"/>

  <!-- Broadcast Logging Common Settings Start -->
  <add key="LoggingEnabled" value="true"/>
  <add key="LoggingSecureEndpoint" value="api/v1/log/add"/>
  <add key="LoggingServiceUrl" value=""/>
  <add key="LoggingUnsecureEndpoint" value="api/v1/log/unsecure/add" />
  <add key="LogLevelSetting" value="INFO" />
  <!-- Broadcast Logging Common Settings End -->

  <!-- Begin Dev Secret Settings -->
  <add key="ConnectionStrings:Broadcast" value=""/>
  <add key="ConnectionStrings:BroadcastForecast" value=""/>
  <add key="ReelIsciApi:EncryptedApiKey" value=""/>
  <add key="encryptedDebugLaunchDarklyProjectSdkKey" value=""/>
  <!-- End Dev Secret Settings -->
</appSettings>