<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--
  Staging               - broadcast_integration_staging
  Development           - broadcast_integration
  Release_CodeFreeze    - broadcast_integration_codefreeze_staging
  Release               - broadcast_integration_codefreeze  
  -->
  <add key="Environment" value="Release" />
</appSettings>