@import "src/styles/mixins/index";

.image {
  &-placeholder {
    @include make_flex(row, center, center);
    @include font_machine("bold", $size: $h2);
    background: rgba($color-grayscale-1, 0.5);
    text-transform: uppercase;
    max-height: inherit;
    max-width: inherit;

    &.card {
      width: 100%;
      height: auto;
      max-height: inherit;
      max-width: inherit;
    }
  }
}
