<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.Core" version="1.7.6" targetFramework="net461" />
  <package id="Hangfire.SqlServer" version="1.7.6" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.480" targetFramework="net461" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net461" />
  <package id="Tam.Maestro.Common.Clients" version="18.4.1.5" targetFramework="net461" />
  <package id="Tam.Maestro.Common.Logging" version="18.2.1.1" targetFramework="net461" />
  <package id="Tam.Maestro.Common.Systems" version="18.4.1.4" targetFramework="net461" />
  <package id="Tam.Maestro.Web.Common" version="18.4.1.12" targetFramework="net461" />
  <package id="Topshelf" version="4.2.1" targetFramework="net461" />
  <package id="Unity" version="2.0" targetFramework="net461" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net461" />
  <package id="Unity.Container" version="5.8.4" targetFramework="net461" />
</packages>