<?xml version="1.0" encoding="windows-1252"?>
<appSettings>
  <!-- SMS Settings-->
  <add key="SMS_Port" value="9999" />
  <add key="SMS_Host" value="CADAPPS-PROD1.crossmw.com" />
  <add key="SMS_Name" value="SMS" />

  <!--Environment setting DEV, QA, PROP, PROD, LOCAL-->
  <add key="TAMEnvironment" value="PROD" />
  
  <!--Configuration Service-->
    <add key="ConfigurationServiceUri" value="http://CADAPPS-PROD5.crossmw.com/Configuration_Service/" />
    <add key="ConfigurationClientUseSMS" value="False" />
    <add key="ConfigurationClientUseSecurityService" value="False" />
  
  <!--EF setting-->
  <add key="EntityFrameworkCommandTimeoutInSeconds" value="1200" />

  <!--System parameter. Set to true to skip cache and directly load from database-->
  <add key="SkipSystemParameterCache" value="False" />

  <!-- Broadcast Logging Common Settings Start -->
  <add key="LoggingEnabled" value="true"/>
  <add key="LoggingSecureEndpoint" value="api/v1/log/add"/>
  <add key="LoggingServiceUrl" value=""/>
  <add key="LoggingUnsecureEndpoint" value="api/v1/log/unsecure/add" />
  <add key="LogLevelSetting" value="INFO" />
  <!-- Broadcast Logging Common Settings End -->
</appSettings>