<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SMS Settings-->
  <add key="SMS_Port" value="9999" />
  <add key="SMS_Host" value="192.168.2.113"/>
  <add key="SMS_Name" value="SMS" />

  <!--Environment setting DEV, QA, PROP, PROD, LOCAL-->
  <add key="TAMEnvironment" value="QA" />

  <!-- Configuration Service Settings -->
  <add key="ConfigurationServiceUri" value="http://devvmqa1.dev.crossmw.com/Configuration_Service/"/>
  <add key="ConfigurationClientUseSMS" value="false"/>
  <add key="ConfigurationClientUseSecurityService" value="true"/>
  
  <!--EF setting-->
  <add key="EntityFrameworkCommandTimeoutInSeconds" value="2400" />

  <!--System parameter. Set to true to skip cache and directly load from database-->
  <add key="SkipSystemParameterCache" value="False" />

  <!-- Broadcast Logging Common Settings Start -->
  <add key="LoggingEnabled" value="true"/>
  <add key="LoggingSecureEndpoint" value="api/v1/log/add"/>
  <add key="LoggingServiceUrl" value=""/>
  <add key="LoggingUnsecureEndpoint" value="api/v1/log/unsecure/add" />
  <add key="LogLevelSetting" value="INFO" />
  <!-- Broadcast Logging Common Settings End -->
</appSettings>