/************************************************************************
    Index.cshtml
/************************************************************************/

#planning_view {
    margin-top: 10px;
}

#planning_view h4 {
    text-align: center;
}


#proposal_grid {
    height: 600px;
}

/************************************************************************
    _CustomMarketsSelector.cshtml 
/************************************************************************/

.select2-search__field {
    width: 150px !important;
}

.trash {
    position: relative;
    bottom: 25px;
    right: 20px;
}

.market-list {
    max-height: 600px;
    overflow: auto;
}

.market-display {
    padding-left: 6px;
}

.font-bold {
    font-weight: bold;
}

/************************************************************************
    _ProposalDetailInventoryModal */
/************************************************************************/

/* Inventory Header */

#inventory_header.modal-header {
    padding: 15px 15px 0 15px;
    border-bottom: none;
}

    #inventory_header.modal-header .panel-default {
        margin-bottom: 0 !important;
    }

#inventory_header #main_title {
    font-size: 16px;
}

#inventory_header .custom-label {
    position: relative;
    left: 5px;
    bottom: 2px;
}

/* Inventory Container - horizontal grids structure */


.inventory-container {
    display: flex;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /*max-height: 600px;*/
    max-height: calc(100vh - 460px);
}

.inventory-container-supporting {
    display: flex;
    width: 100%;
}

.inventory-daypart-wrapper {
    width: 200px;
    flex-shrink: 0;
}

    .inventory-daypart-wrapper.header {
        /*margin-top: 27px;*/
    }


.inventory-weeks-scroll-wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
}

.inventory-weeks-scroll-hidden-wrapper {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.week-item {
    min-width: 600px;
    /*flex-grow: 1;*/
}

.inventory-scroll-divider {
    /*box-shadow: 4px 0px 4px -2px #888;*/
    box-shadow: 5px 0 5px -5px #333;
    margin-right: 5px;
    height: 100%;
}

.inventory-column-group {
    font-weight: bold;
    display: flex;
    margin: 0 10px;
}

    .inventory-column-group .goals {
        width: 100%;
        text-align: right;
    }


/************************************************************************
    _ProposalDetailOpenMarketModal.cshtml
/************************************************************************/

#openmarkets_grid {
    height: 600px;
}

.openmarket-program-column-group {
    background-image: -webkit-linear-gradient(#f9f9f9, #cacaca) !important;
}

#openmarkets_grid .w2ui-grid-fcolumns, #openmarkets_grid .w2ui-grid-frecords {
    border-right: 1px solid #949494;
    box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.1), 2px 0px 0px 0px rgba(0,0,0,0.1);
    z-index: 1;
}
/* Open Market Header */

#openmarket_header.modal-header {
    padding: 15px 15px 0 15px;
    border-bottom: none;
}

    #openmarket_header.modal-header .panel-default {
        margin-bottom: 0 !important;
    }

#openmarket_header #openmarket_main_title {
    font-size: 16px;
}

#openmarket_header .custom-label {
    position: relative;
    left: 5px;
    bottom: 2px;
}


.openmarket-column-group {
    font-weight: bold;
    display: flex;
    margin: 0 10px;
    /*height: 19px;*/
}

.openmarket-column-group .goals {
    width: 100%;
    text-align: right;
}


/* filter */
#filter_controls {
    text-align: right;
}

#select_spot_filter {
    width: 170px;
}

#filter_icon {
    float: left;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 5px;
}

/************************************************************************
    _ProposalView
/************************************************************************/

#proposal_modal input[name=proposal_flight].read-only-picker:not([disabled]) {
    background-color: white;
    color: black;
}

.grid-label {
    color: #808080;
}

.proposal-detail-input {
    margin: 0 14px 0 8px;
}

.proposal-detail-remove-btn {
    font-size: 16px;
    padding: 0;
    color: red;
}

.menu-options {
    position: absolute;
    top: 35px;
    left: 290px !important;
    width: 70px;
}

/*override the display of form validation help in sets*/
#proposal_view .form-inline .help-block {
    display: none !important;
}

#proposal_flight_icon {
    float: right;
    margin-top: 32px;
    margin-right: 20px;
}

#markets option:last-child {
    border-top: 1px solid red !important;
}

.market-option {
    overflow: hidden;
}

.market-counter {
    color: #c0c0c0;
}

.input-disabled {
    background-color: #eee !important;
}

.header-margin-label {
    position: relative;
    left: 3px;
}

