/************************************************************************
    _StationModalMainGrid.cshtml 
/************************************************************************/

/*contacts grid inline select2 tag adjustment*/

#contacts_grid .select2-container .select2-selection--multiple {
    min-height:12px;
}

/************************************************************************
    importthirdpartyviewmodel.js
/************************************************************************/

/*form/demo table normalization*/

    #import_thirdparty_form .input-sm {
        font-size: 14px;
        color: #555 !important;
    }

    #thirdparty_demo_table .form-group {
        margin-bottom: 0px;
    }

    #thirdparty_demo_table .help-block {
        display: none !important;
    }

    #thirdparty_demo_table .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
        padding: 0 6px 6px 0;
    }

    #thirdparty_demo_table.table > thead > tr > th {
        border-bottom: none;
    }

    #import_thirdparty_form .select2-container .select2-selection--single {
        height: 30px;
    }

    #import_thirdparty_form .select2-container--bootstrap .select2-selection--single {
        padding: 5px 12px 6px 6px;
    }


    .error-item {
        margin: 2px 0 4px 0;
    }
    .error-item > a {
        text-decoration: none;
    }

    .error-item > a:before {
        font-family: FontAwesome;
        content:"\f068";
        padding-right: 5px;
    }

    .error-item > a.collapsed:before {
        content:"\f067";
    }