.pricing-open-market-grid {

  .pricing-open-market-tables {
    display: flex;
    flex-direction: row;

    .pricing-guide-master-table,
    .pricing-guide-detail-table {
      margin-top: 6px;
      height: 500px;

      .rt-thead {
        padding-right: 17px;
      }
      
      .rt-tbody {
        overflow-y: scroll;
        overflow-x: auto;
      }
    }
    
    .pricing-guide-master-table {
      width: 40%;
    }
    .pricing-guide-detail-table {
      width: 60%;

      .ReactTable {
        margin: 10px;
        .rt-thead {
          padding-right: 0;
        }
        
        .rt-tbody {
          overflow: auto;
        }
      }
    }
  }
}