.pricing-open-market-grid {

  .pricing-open-market-tables {
    display: flex;
    flex-direction: row;

    .ReactTable {
      margin-top: 6px;
      height: 500px;

      .rt-thead {
        padding-right: 17px;
      }
      
      .rt-tbody {
        overflow-y: scroll;
        overflow-x: auto;
      }
    }
    
    .ReactTable:first-child {
      width: 40%;
    }
    .ReactTable:last-child {
      width: 60%;
    }
  }
}