<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BroadcastTest.Selenium" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BroadcastTest.Selenium" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <applicationSettings>
    <BroadcastTest.Selenium>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://cadapps-qa1/</value>
      </setting>
      <setting name="Browser" serializeAs="String">
        <value>IE</value>
      </setting>
    </BroadcastTest.Selenium>
  </applicationSettings>
  <userSettings>
    <BroadcastTest.Selenium>
      <setting name="BvsTracker" serializeAs="String">
        <value>/Broadcast/</value>
      </setting>
      <setting name="Broadcast" serializeAs="String">
        <value>/Broadcast/Rates</value>
      </setting>
      <setting name="TestDataPath" serializeAs="String">
        <value>C:\Users\bbernstein\Documents\Visual Studio 2013\Projects\BroadcastAutoTest\BroadcastTest\TestData\</value>
      </setting>
      <setting name="LogFilePath" serializeAs="String">
        <value>C:\Users\bbernstein\Documents\Visual Studio 2013\Projects\BroadcastAutoTest\BroadcastTest\Logs\</value>
      </setting>
      <setting name="TestCycle" serializeAs="String">
        <value>Unscheduled</value>
      </setting>
    </BroadcastTest.Selenium>
  </userSettings>
</configuration>