<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="CadentShared" value="http://devvm01tfs03.telamericamedia.com:8080/tfs/CMWPA/_packaging/CadentShared/nuget/v2/" />
  </packageSources>
</configuration>