.nav-row {
	padding: 0px 25px 0px 15px;
}

.navigation-brand { 
	/* padding: 0 20px 0 35px !important; */
	img {
		margin-left: 10px !important;
		width: 124px !important;
	}
}

.float-right {
	float: right; 
}