
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <script>
        function copyToClip() {
            var copyText = document.getElementById("divJSON");
            /* Select the text field */
            copyText.select();
            /* Copy the text inside the text field */
            document.execCommand("Copy");

        }
    </script>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">

        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
        <br />
        <input type="submit" text="generate JSON" />
        <br />
        <a href="javascript:copyToClip();">Copy to Clipboard</a>

        <br />
        @{
            var IdValue = "";
            if (ViewBag.Id != null)
            {
                IdValue = "Uploaded AffidavidID = " + ViewBag.Id + "";
            }
        }
        @IdValue
        <div><b>Results:</b></div>
        <textarea rows="20" style="width: 600px;" id="divJSON">@ViewBag.Message</textarea>
    </form>


    <div>
        <h1>Testing Services</h1>
        <div>
        @using (Html.BeginForm("TestFtpAccess", "Maintenance", FormMethod.Get))
        {
            <input type="submit" value="Test FTP" id="txtTestFtpAccess" />
        }
        </div>
        <div>
        @using (Html.BeginForm("TestEmail", "Maintenance", FormMethod.Post))
        {
            <input type="submit" value="test email" id="test_email" />
        }
        </div>
    </div>

    <div>
        <h1>Cache Management</h1>
        @using (Html.BeginForm("ClearCache", "Maintenance", FormMethod.Post))
        {
            <input type="submit" value="Clear System Param Cache" id="txtClearCache"/>
        }

        @using (Html.BeginForm("ClearMediaMonthCrunchCache", "Maintenance", FormMethod.Post))
        {
            <input type="submit" value="Clear Media Month Crunch Cache" id="txtClearMediaMonthCrunchCache"/>
        }
    </div>
    <div>
        <h1>Upload Market Coverages</h1>
        <form action="UploadMarketCoverageFile" method="post" enctype="multipart/form-data">
            <label for="file">Filename:</label>
            <input type="file" name="file" id="file"/>
            <br/>
            <input type="submit" text="Upload Market Coverages"/>
            <br/>
            <div>
                <b>Result:</b>
                <label style="width: 600px;" id="result_market_coverages">@ViewBag.Message</label>
            </div>
        </form>
    </div>

</body>
</html>
