
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <script>
        function copyToClip() {
            var copyText = document.getElementById("divJSON");
            /* Select the text field */
            copyText.select();
            /* Copy the text inside the text field */
            document.execCommand("Copy");

        }
    </script>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">

        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
        <br />
        <input type="submit" text="generate JSON" />
        <br />
        <a href="javascript:copyToClip();">Copy to Clipboard</a>

        <br />
        @{
            var IdValue = "";
            if (ViewBag.Id != null)
            {
                IdValue = "Uploaded AffidavidID = " + ViewBag.Id + "";
            }
        }
        @IdValue
        <div><b>Results:</b></div>
        <textarea rows="20" style="width: 600px;" id="divJSON">@ViewBag.Message</textarea>
    </form>


    <div>
        <h1>Testing Services</h1>
        <div>
            @using (Html.BeginForm("TestFtpAccess", "Maintenance", FormMethod.Get))
            {
                <input type="submit" value="Test FTP" id="txtTestFtpAccess" />
            }
        </div>
        <div>
            @using (Html.BeginForm("TestEmail", "Maintenance", FormMethod.Post))
            {
                <input type="submit" value="Test Email" id="test_email" />
            }
        </div>
    </div>
    <div>
        <h1>Application Jobs</h1>
        <div>
            @using (Html.BeginForm("RequeueInventoryRatingsJob", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="text" name="jobId" />
                <input type="submit" value="Requeue Ratings Job" id="submit" />
            }
        </div>
        <div>
            @using (Html.BeginForm("RequeueScxGenerationJob", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="text" name="jobId" />
                <input type="submit" value="Requeue SCX Generation Job" id="submit" />
            }
        </div>
        <div>
            @using (Html.BeginForm("ResetRatingsJobStatus", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="text" name="jobId" />
                <input type="submit" value="Reset Ratings Job Status" id="submit" />
            }
        </div>
        <div>
            @using (Html.BeginForm("ResetScxGenerationJobStatus", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="text" name="jobId" />
                <input type="submit" value="Reset SCX Generation Job Status" id="submit" />
            }
        </div>
        <div>
            @using (Html.BeginForm("QueueInventorySourceAggregation", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="text" name="inventorySourceId" />
                <input type="submit" value="Queue Inventory Source Aggregation" id="submit" />
            }
        </div>
    </div>

    <div>
        <h1>Cache Management</h1>
        @using (Html.BeginForm("ClearCache", "Maintenance", FormMethod.Post))
        {
            <input type="submit" value="Clear System Param Cache" id="txtClearCache" />
        }

        @using (Html.BeginForm("ClearMediaMonthCrunchCache", "Maintenance", FormMethod.Post))
        {
            <input type="submit" value="Clear Media Month Crunch Cache" id="txtClearMediaMonthCrunchCache" />
        }
    </div>
    <div>
        <h1>Upload Market Coverages</h1>
        @using (Html.BeginForm("UploadMarketCoverageFile", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label for="file">Filename:</label>
            <input type="file" name="file" id="file" />
            <br />
            <input type="submit" text="Upload Market Coverages" />
            <br />
            <div>
                <b>Result:</b>
                <label style="width: 600px;" id="result_market_coverages">@ViewBag.Message</label>
            </div>
        }
    </div>

    <div>
        <h1>Temporal Application Settings</h1>
        <div>
            @using (Html.BeginForm("SwitchProcessRatingsAutomatically", "Maintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="submit" value="Switch ProcessRatingsAutomatically flag" id="submit" />
            }
        </div>
    </div>

    <div>
        <h1>Cleanup Dayparts</h1>
        <div>
            @using (Html.BeginForm("CleanupDaypartsFilterErroneousDayparts", "Maintenance", FormMethod.Post))
            {
                <input type="submit" value="Show erroneous dayparts" id="submit" />
            }
            @using (Html.BeginForm("CleanupDaypartsRepairErroneousDayparts", "Maintenance", FormMethod.Post))
            {
                <input type="submit" value="Repair erroneous dayparts" id="submit" />
            }
            <div><b>Results:</b></div>
            <textarea rows="20" style="width: 600px;" id="divCleanupJSON">@ViewBag.DaypartCleanupMessage</textarea>
        </div>
    </div>
</body>
</html>
