
<div class="modal fade" tabindex="false" id="criteria_builder_modal" role="dialog" data-bind="modal: { show: ShowModal, open: Open, hide: Hide }">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="criteria_builder_view">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title">Manage Programs</span>
            </div>

            <div class="modal-body">
                <div data-bind="foreach: CriteriaList">
                    <div class="row">
                        @*<div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" data-bind="value: Property">
                                    <option value="Program Name">Program Name</option>
                                    <option value="CPM">CPM</option>
                                    <option value="Genre">Genre</option>
                                </select>
                            </div>
                        </div>*@

                        <div class="col-md-3">
                            <div class="form-group" data-bind="visible:Property() == 'CPM'">
                                <select class="form-control" data-bind="options: $parent.MinMaxOptions, optionsText: 'Display', optionsValue: 'EnumValue', value: Action"></select>
                            </div>
                            
                            <div class="form-group" data-bind="visible:Property() != 'CPM'">
                                <select class="form-control" data-bind="options: $parent.IncludeExcludeOptions, optionsText: 'Display', optionsValue: 'EnumValue', value: Action"></select>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="form-group" data-bind="if: Property() == 'Program Name'">
                                <select multiple="multiple" class="form-control" data-bind="options: $parent.ProgramNamesOptions, selectedOptions: Values, select2: true"></select>
                            </div>

                            <div class="form-group criterion" data-bind="if: Property() == 'CPM'">
                                <input type="text" class="form-control cpm_money" data-bind="value: Values">
                            </div>

                            <div class="form-group criterion" data-bind="if: Property() == 'Genre'">
                                <select multiple="multiple" class="form-control" data-bind="options: $parent.Genres, optionsValue: 'Id', optionsText: 'Display', selectedOptions: Values, select2: true"></select>
                            </div>
                        </div>

                        <button type="button" class="col-md-1 btn btn-danger btn-circle-remove" data-bind="click: $parent.RemoveCriterion">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="criteria_builder_menu" class="form-control" data-bind="options: Options, value: SelectedOption, optionsCaption: 'Add Criteria'"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" data-bind="click: Apply, css: { disabled: (!IsValid() || IsProcessing()) }">Apply</button>
            </div>
        </div>
    </div>
</div>
