<div class="modal fade" tabindex="false" id="custom_markets_modal" role="dialog" data-backdrop="static" data-keyboard="false" data-bind="modal: { show: show, open: open }">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Custom Market</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    @Html.Partial("_CustomMarketsSelector", "simpleMarketSelector")
                    @Html.Partial("_CustomMarketsSelector", "blackoutMarketSelector")
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click: cancel">Cancel</button>
                <button id="open_btn" type="button" class="btn btn-success" data-bind="click: save">Save</button>
            </div>
        </div>
    </div>
</div>
