<style>
    /* Inventory Header */

    #inventory_header.modal-header {
        padding: 15px 15px 0 15px;
        border-bottom: none;
    }

        #inventory_header.modal-header .panel-default {
            margin-bottom: 0 !important;
        }

    #inventory_header #main_title {
        font-size: 16px;
    }

    #inventory_header .custom-label {
        position: relative;
        left: 5px;
        bottom: 2px;
    }

    /* Inventory Container - horizontal grids structure */


    .inventory-container {
        display: flex;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        /*max-height: 600px;*/
        max-height: calc(100vh - 460px);
    }

    .inventory-container-supporting {
        display: flex;
        width: 100%;
    }

    .inventory-daypart-wrapper {
        width: 200px;
        flex-shrink: 0;
    }

        .inventory-daypart-wrapper.header {
            /*margin-top: 27px;*/
        }


    .inventory-weeks-scroll-wrapper {
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        height: 100%;
    }

    .inventory-weeks-scroll-hidden-wrapper {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100%;
    }

    .week-item {
        min-width: 600px;
        /*flex-grow: 1;*/
    }

    .inventory-scroll-divider {
        /*box-shadow: 4px 0px 4px -2px #888;*/
        box-shadow: 5px 0 5px -5px #333;
        margin-right: 5px;
        height: 100%;
    }

    .inventory-column-group {
        font-weight: bold;
        display: flex;
        margin: 0 10px;
    }

        .inventory-column-group .goals {
            width: 100%;
            text-align: right;
        }
</style>

<div class="modal slide-in modal-attached" id="proposal_detail_inventory_modal" role="dialog">
    <div class=" modal-dialog modal-xlg">
        <div class="modal-content" id="proposal_inventory_view">
            <div id="inventory_header" class="modal-header">
                <div id="main_title" class="panel-body well">
                    <span class="cadent-dk-blue" id="inventory_header_prefix">Inventory</span>&nbsp; - &nbsp;
                    <strong data-bind="text: inventoryPlanId"></strong>&nbsp; - &nbsp;
                    <strong class="cadent-dk-blue" data-bind="text: proposalName"></strong>&nbsp; - &nbsp; Weeks &nbsp;
                    <span data-bind="text: proposalStartDate"></span>&nbsp; - &nbsp;
                    <span data-bind="text: proposalEndDate"></span>
                </div>

                <div class="panel panel-default">
                    <div id="detail_title" class="panel-heading">
                        <span class="cadent-dk-blue">Proposal Detail</span>&nbsp; - &nbsp;
                        <strong><span data-bind="text: detailSpotLength"></span>s</strong>&nbsp; - &nbsp;
                        <strong class="cadent-dk-blue" data-bind="text: daypartText"></strong>&nbsp;&nbsp;
                        <span data-bind="text: detailFlightStartDate"></span>&nbsp; - &nbsp;
                        <span data-bind="text: detailFlightEndDate"></span>
                    </div>

                    <div class="panel-body">
                        <div class="col-md-4">
                            <span><i class="fa fa-bullhorn" aria-hidden="true"></i> Target Impressions (000)</span>&nbsp;
                            @*<strong><span data-bind="text: totalImpressions().toFixed(3)"></span>/<span data-bind="text: detailTargetImpressions().toFixed(3)"></span></strong>*@
                            <strong><span data-bind="text: numeral(totalImpressions()).format('0,0.[000]')"></span>/<span data-bind="text: numeral(detailTargetImpressions()).format('0,0.[000]')"></span></strong>
                           
                            <span class="label custom-label" data-bind="text: impressionsPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': detailImpressionsMarginAchieved, 'label-success': !detailImpressionsMarginAchieved() }"></span>
                        </div>

                        <div class="col-md-4">
                            <span><i class="fa fa-money" aria-hidden="true"></i> Target Budget</span>&nbsp;
                            @*<strong><span data-bind="text:  w2utils.formatters['money'](totalCost())"></span>/<span data-bind="text:  w2utils.formatters['money'](detailTargetBudget())"></span></strong>*@
                            <strong><span data-bind="text:  numeral(totalCost()).format('$0,0[.]00')"></span>/<span data-bind="text: numeral(detailTargetBudget()).format('$0,0[.]00')"></span></strong>
                            <span class="label custom-label" data-bind="text: budgetPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': detailBudgetMarginAchieved, 'label-success': !detailBudgetMarginAchieved() }"></span>
                        </div>

                        <div class="col-md-4">
                            <span>eCpm</span>&nbsp;
                            @*<strong><span data-bind="text:  w2utils.formatters['money'](totalCpm())"></span>/<span data-bind="text:  w2utils.formatters['money'](detailCpm())"></span></strong>*@
                            <strong><span data-bind="text:  numeral(totalCpm()).format('$0,0[.]00')"></span>/<span data-bind="text:  numeral(detailCpm()).format('$0,0[.]00')"></span></strong>
                            <span class="label custom-label" data-bind="text: cpmPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': detailCpmMaginAchieved, 'label-success': !detailCpmMaginAchieved() }"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="well">
                    <div style="" class="inventory-container-supporting">
                        <div style="height: 55px" class="inventory-daypart-wrapper header inventory-scroll-divider">
                            <div style="width: 200px; margin-top: 27px;" id="inventory_daypart_header_grid"></div>
                        </div>
                        <div id="inventory_weeks_headers" class="inventory-weeks-scroll-hidden-wrapper scroll_wrapper1">
                            @*<div class="week-item"><div id="inventory_week_header_grid_1"></div></div>*@
                        </div>
                    </div>
                    <div class="inventory-container" id="inventory_container_scrollable">
                        <div class="inventory-daypart-wrapper inventory-scroll-divider">
                            <div style="width: 200px;" id="inventory_daypart_grid"></div>
                        </div>
                        <div id="inventory_weeks" class="inventory-weeks-scroll-hidden-wrapper scroll_wrapper2">
                            @*<div class="week-item"><div id="inventory_week_grid_1"></div></div>*@
                        </div>
                    </div>
                    <div class="inventory-container" style="height: 20px;">
                        <div class="inventory-daypart-wrapper">
                            <div style="width: 200px;" id=""></div>
                        </div>
                        <div id="inventory_weeks_bottom" class="inventory-weeks-scroll-wrapper scroll_wrapper3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-default" data-bind="click: applyInventory, visible: !readOnly()">Apply</button>
                <button class="btn btn-success" data-bind="click: saveInventory, visible: !readOnly()">Save</button>
            </div>
        </div>
    </div>
</div>
