<div id="proposal_update_warning_modal" style="z-index: 2000;" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">Inventory has been reserved for this Proposal, changes may affect delivery and costs.</div>
            <div class="modal-footer">
                <a class="btn btn-success" data-dismiss="modal" id="confirmButton" data-bind="click: save">Ok</a>
                <a class="btn btn-warning" data-dismiss="modal" id="confirmCancelButton">Cancel</a>
            </div>
        </div>
    </div>
</div>

