<style>
    /* Open Market Header */

    #openmarket_header.modal-header {
        padding: 15px 15px 0 15px;
        border-bottom: none;
    }

    #openmarket_header.modal-header .panel-default {
        margin-bottom: 0 !important;
    }

    #openmarket_header #openmarket_main_title {
        font-size: 16px;
    }

    #openmarket_header .custom-label {
        position: relative;
        left: 5px;
        bottom: 2px;
    }

    /* Open Market Container - horizontal grids structure */


    .openmarket-container {
        display: flex;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        /*max-height: 600px;*/
        max-height: calc(100vh - 470px);
    }

    .openmarket-container-supporting {
        display: flex;
        width: 100%;
    }

    .openmarket-programs-wrapper {
        width: 580px;
        flex-shrink: 0;
    }

    .openmarket-programs-wrapper.header {
        margin-top: 0px;
    }


    .openmarket-weeks-scroll-wrapper {
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        height: 100%;
    }

    .openmarket-weeks-scroll-hidden-wrapper {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100%;
    }

    .openmarket-week-item {
        min-width: 650px;
        /*flex-grow: 1;*/
    }

    .openmarket-column-group {
        font-weight: bold;
        display: flex;
        margin: 0 10px;
        /*height: 19px;*/
    }

    .openmarket-column-group .goals {
        width: 100%;
        text-align: right;
    }

    .openmarket-scroll-divider {
        /*box-shadow: 4px 0px 4px -2px #888;*/
        box-shadow: 5px 0 5px -5px #333;
        margin-right: 5px;
        height: 100%;
    }

    /* filter */
    #filter_controls {
        text-align: right;
    }

    #select_spot_filter {
        width: 170px;
    }

    #filter_icon {
        float: left;
        font-size: 18px;
        margin-top: 5px;
        margin-right: 5px;
    }

</style>

<div class="modal slide-in modal-attached" id="proposal_detail_openmarket_modal" role="dialog">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content" id="proposal_openmarket_view">
            <div id="openmarket_header" class="modal-header">
                <div id="openmarket_main_title" class="panel-body well">
                    <span class="cadent-dk-blue" id="openmarket_header_prefix">Open Market Inventory</span>&nbsp; - &nbsp;
                    <strong data-bind="text: inventoryPlanId"></strong>&nbsp; - &nbsp;
                    <strong class="cadent-dk-blue" data-bind="text: proposalName"></strong>&nbsp; - &nbsp; Weeks &nbsp;
                    <span data-bind="text: proposalStartDate"></span>&nbsp; - &nbsp;
                    <span data-bind="text: proposalEndDate"></span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="cadent-dk-blue">Proposal Detail</span>&nbsp; - &nbsp;
                        <strong><span data-bind="text: detailSpotLength"></span>s</strong>&nbsp; - &nbsp;
                        <strong class="cadent-dk-blue" data-bind="text: daypartText"></strong>&nbsp;&nbsp;
                        <span data-bind="text: detailFlightStartDate"></span>&nbsp; - &nbsp;
                        <span data-bind="text: detailFlightEndDate"></span>
                    </div>
                
                    <div class="panel-body">
                        <div class="col-md-4">
                            <span><i class="fa fa-bullhorn" aria-hidden="true"></i> Target Impressions (000)</span>&nbsp;
                            <strong><span data-bind="text: numeral(totalImpressions()).format('0,0.[000]')"></span>/<span data-bind="text: numeral(detailTargetImpressions()).format('0,0.[000]')"></span></strong>
                            <span class="label custom-label" data-bind="text: impressionsPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': !detailImpressionsMarginAchieved(), 'label-success': detailImpressionsMarginAchieved }"></span>
                        </div>

                        <div class="col-md-4">
                            <span><i class="fa fa-money" aria-hidden="true"></i> Target Budget</span>&nbsp;
                            <strong><span data-bind="text:  numeral(totalCost()).format('$0,0[.]00')"></span>/<span data-bind="text: numeral(detailTargetBudget()).format('$0,0[.]00')"></span></strong>
                            <span class="label custom-label" data-bind="text: budgetPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': detailBudgetMarginAchieved, 'label-success': !detailBudgetMarginAchieved() }"></span>
                        </div>

                        <div class="col-md-4">
                            <span>eCpm</span>&nbsp;
                            <strong><span data-bind="text:  numeral(totalCpm()).format('$0,0[.]00')"></span>/<span data-bind="text:  numeral(detailCpm()).format('$0,0[.]00')"></span></strong>
                            <span class="label custom-label" data-bind="text: cpmPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': detailCpmMaginAchieved, 'label-success': !detailCpmMaginAchieved() }"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="well">
                    <div class="openmarket-container-supporting">
                        <div style="height: 62px" class="openmarket-programs-wrapper header openmarket-scroll-divider">
                            <div class="header-row row">
                                <div class="col-xs-5">
                                    <button id="refine_programs" class="btn btn-success btn-sm" type="button" formnovalidate="formnovalidate" data-bind="click: openCriteriaBuilder">Refine Programs</button>
                                    <button class="btn btn-success btn-sm" type="button" formnovalidate="formnovalidate">Distribute</button>
                                </div>

                                <div class="col-xs-7">
                                    <div id="filter_controls">
                                        <span id="filter_icon" class="glyphicon glyphicon-filter" aria-hidden="true" data-bind="style: { color: hasFiltersApplied() ? 'orange' : '#999' }"></span>

                                        <div class="input-group input-group-sm">
                                            <span class="input-group-btn">
                                                <button id="proposal_grid_search_btn" class="btn btn-info" role="button" data-bind="click: openFilter">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                            
                                            <select id="select_spot_filter" class="form-control input-sm" data-bind="options: spotFilterOptions, optionsText: 'Display', optionsValue: 'Id', value: selectedSpotFilterOption"></select>

                                            <div id="additional_option_menu" style="margin-right: 6px;" class="btn-group btn-group-sm">
                                                <a class="btn btn-default btn-xs dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                                </a>

                                                <ul id="additional_option_menu_dropdown" class="dropdown-menu dropdown-menu-right">
                                                    <li data-bind="click:  toggleMarketSort.bind($data, true)"><a href="#"><i class="glyphicon glyphicon-ok sort_icon" data-bind="visible: isMarketSortName()"></i> Sort by Market Name</a></li>
                                                    <li data-bind="click:  toggleMarketSort.bind($data, false)"><a href="#"><i class="glyphicon glyphicon-ok sort_icon" data-bind="visible: !isMarketSortName()"></i> Sort by Market Rank</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="width: 580px;" id="openmarket_programs_header_grid"></div>
                        </div>

                        <div id="openmarket_weeks_headers" style="margin-top: 7px;" class="openmarket-weeks-scroll-hidden-wrapper scroll_wrapper1_openmarket">
                            @*<div class="openmarket-week-item"><div id="openmarket_week_header_grid_1"></div></div>*@
                        </div>
                    </div>
                    
                    <div class="openmarket-container" id="openmarket_container_scrollable">
                        <div class="openmarket-programs-wrapper openmarket-scroll-divider">
                            <div style="width: 580px;" id="openmarket_programs_grid"></div>
                        </div>

                        <div id="openmarket_weeks" class="openmarket-weeks-scroll-hidden-wrapper scroll_wrapper2_openmarket">
                            @*<div class="openmarket-week-item"><div id="openmarket_week_grid_1"></div></div>*@
                        </div>
                    </div>

                    <div class="openmarket-container" style="height: 20px;">
                        <div class="openmarket-programs-wrapper">
                            <div style="width: 580px;"></div>
                        </div>

                        <div id="openmarket_weeks_bottom" class="openmarket-weeks-scroll-wrapper scroll_wrapper3_openmarket">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-default" data-bind="click: applyInventory, visible: !readOnly()">Apply</button>
                <button class="btn btn-success" data-bind="click: saveInventory, visible: !readOnly()">Save</button>
            </div>
        </div>
    </div>
</div>

@RenderPage("_CriteriaBuilderModal.cshtml")
@RenderPage("_FilterModal.cshtml")

