<style>
    #openmarkets_grid {
        height: 600px;
    }

    .openmarket-program-column-group {
        background-image: -webkit-linear-gradient(#f9f9f9, #cacaca) !important;
    }

    #openmarkets_grid .w2ui-grid-fcolumns, #openmarkets_grid .w2ui-grid-frecords {
        border-right: 1px solid #949494;
        box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.1), 2px 0px 0px 0px rgba(0,0,0,0.1);
        z-index: 1;
    }
    /* Open Market Header */

    #openmarket_header.modal-header {
        padding: 15px 15px 0 15px;
        border-bottom: none;
    }

        #openmarket_header.modal-header .panel-default {
            margin-bottom: 0 !important;
        }

    #openmarket_header #openmarket_main_title {
        font-size: 16px;
    }

    #openmarket_header .custom-label {
        position: relative;
        left: 5px;
        bottom: 2px;
    }


    .openmarket-column-group {
        font-weight: bold;
        display: flex;
        margin: 0 10px;
        /*height: 19px;*/
    }

    .openmarket-column-group .goals {
        width: 100%;
        text-align: right;
    }


    /* filter */
    #filter_controls {
        text-align: right;
    }

    #select_spot_filter {
        width: 170px;
    }

    #filter_icon {
        float: left;
        font-size: 18px;
        margin-top: 5px;
        margin-right: 5px;
    }

</style>

<div class="modal slide-in modal-attached" id="proposal_detail_openmarket_modal" role="dialog">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content" id="proposal_openmarket_view">
            <div id="openmarket_header" class="modal-header">
                <div id="openmarket_main_title" class="panel-body well">
                    <span class="cadent-dk-blue" id="openmarket_header_prefix">Open Market Inventory</span>&nbsp; - &nbsp;
                    <strong data-bind="text: inventoryPlanId"></strong>&nbsp; - &nbsp;
                    <strong class="cadent-dk-blue" data-bind="text: proposalName"></strong>&nbsp; - &nbsp; Weeks &nbsp;
                    <span data-bind="text: proposalStartDate"></span>&nbsp; - &nbsp;
                    <span data-bind="text: proposalEndDate"></span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="cadent-dk-blue">Proposal Detail</span>&nbsp; - &nbsp;
                        <strong><span data-bind="text: detailSpotLength"></span>s</strong>&nbsp; - &nbsp;
                        <strong class="cadent-dk-blue" data-bind="text: daypartText"></strong>&nbsp;&nbsp;
                        <span data-bind="text: detailFlightStartDate"></span>&nbsp; - &nbsp;
                        <span data-bind="text: detailFlightEndDate"></span>
                    </div>
                
                    <div class="panel-body">
                        <div class="col-md-4">
                            <span><i class="fa fa-bullhorn" aria-hidden="true"></i> Target Impressions (000)</span>&nbsp;
                            <strong><span data-bind="text: numeral(totalImpressions()).format('0,0.[000]')"></span>/<span data-bind="text: numeral(detailTargetImpressions()).format('0,0.[000]')"></span></strong>
                            <span class="label custom-label" data-bind="text: impressionsPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': !detailImpressionsMarginAchieved(), 'label-success': detailImpressionsMarginAchieved }"></span>
                        </div>

                        <div class="col-md-4">
                            <span><i class="fa fa-money" aria-hidden="true"></i> Target Budget</span>&nbsp;
                            <strong><span data-bind="text:  numeral(totalCost()).format('$0,0[.]00')"></span>/<span data-bind="text: numeral(detailTargetBudget()).format('$0,0[.]00')"></span></strong>
                            <span class="label custom-label" data-bind="text: budgetPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': detailBudgetMarginAchieved, 'label-success': !detailBudgetMarginAchieved() }"></span>
                        </div>

                        <div class="col-md-4">
                            <span>eCpm</span>&nbsp;
                            <strong><span data-bind="text:  numeral(totalCpm()).format('$0,0[.]00')"></span>/<span data-bind="text:  numeral(detailCpm()).format('$0,0[.]00')"></span></strong>
                            <span class="label custom-label" data-bind="text: cpmPercent().toString().match(/^-?\d+(?:\.\d{0,2})?/)[0] + '%', css: { 'label-danger': detailCpmMaginAchieved, 'label-success': !detailCpmMaginAchieved() }"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">

                <div class="header-row row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        Grid Header: Refine | Distribute | Filters...
                    </div>
                </div>
                @*//TODO revise for new structure
                <div class="header-row row">
                    <div class="col-xs-5">
                        <button id="refine_programs" class="btn btn-success btn-sm" type="button" formnovalidate="formnovalidate" data-bind="click: openCriteriaBuilder">Refine Programs</button>
                        <button class="btn btn-success btn-sm" type="button" formnovalidate="formnovalidate">Distribute</button>
                    </div>

                    <div class="col-xs-7">
                        <div id="filter_controls">
                            <span id="filter_icon" class="glyphicon glyphicon-filter" aria-hidden="true" data-bind="style: { color: hasFiltersApplied() ? 'orange' : '#999' }"></span>

                            <div class="input-group input-group-sm">
                                <span class="input-group-btn">
                                    <button id="proposal_grid_search_btn" class="btn btn-info" role="button" data-bind="click: openFilter">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>

                                <select id="select_spot_filter" class="form-control input-sm" data-bind="options: spotFilterOptions, optionsText: 'Display', optionsValue: 'Id', value: selectedSpotFilterOption"></select>

                                <div id="additional_option_menu" style="margin-right: 6px;" class="btn-group btn-group-sm">
                                    <a class="btn btn-default btn-xs dropdown-toggle" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                    </a>

                                    <ul id="additional_option_menu_dropdown" class="dropdown-menu dropdown-menu-right">
                                        <li data-bind="click:  toggleMarketSort.bind($data, true)"><a href="#"><i class="glyphicon glyphicon-ok sort_icon" data-bind="visible: isMarketSortName()"></i> Sort by Market Name</a></li>
                                        <li data-bind="click:  toggleMarketSort.bind($data, false)"><a href="#"><i class="glyphicon glyphicon-ok sort_icon" data-bind="visible: !isMarketSortName()"></i> Sort by Market Rank</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div id="openmarkets_grid"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-default" data-bind="click: applyInventory, visible: !readOnly()">Apply</button>
                <button class="btn btn-success" data-bind="click: saveInventory, visible: !readOnly()">Save</button>
            </div>
        </div>
    </div>
</div>

@RenderPage("_CriteriaBuilderModal.cshtml")
@RenderPage("_FilterModal.cshtml")

