.pricing-guide_edit-markets {
  margin-top: 10px;

  .ReactTable {
    margin-top: 6px;
    height: 300px;

    .rt-thead {
      padding-right: 17px;
    }
    
    .rt-tbody {
      overflow-y: scroll;
      overflow-x: auto;
    }
  }
}